<h3>Cart</h3>

<div *ngIf="items.length == 0">
  <span>Cosul e gol</span>
</div>
<div class="cart-item" *ngFor="let item of items">
  <span>{{ item.name }}</span>
  <span>{{ item.price | currency }}</span>
</div>

<form *ngIf="canPlaceOrder && items.length != 0" [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">

  <div>
    <input id="address" type="text" placeholder="Your shipping address..." formControlName="address">
  </div><br />

  <button class="button" type="submit" style="border: none; width: 30%;">Place order</button>

</form>

<p *ngIf="!canPlaceOrder">You must be logged in!</p>
